html
{
    width: 80%;
    margin:auto;
}
.navbar
{
    margin-bottom: 2%;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #450ca8;
    opacity: 0.7;
}
.navbar-toggler-icon
{
    background-color:white !important;
}
.cNav
{
    color:white !important;
}